.skuBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 0.1vmin solid #673ab7;
    width: 100%;
    background-color: white;
}

.skuBoxRow {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}
