.Game {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gameHolder {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.boardHolderDiv {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 0px;
    min-width: 75vmin;
    flex: 1;
    margin-right: 4vmin;
    margin-left: 2vmin;
}

.numPadHolderDiv {
    flex: 0 1 0%;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

@media (max-aspect-ratio: 1/1) {
    .gameHolder {
        flex-direction: column;
    }
    .boardHolderDiv {
        margin: 0px;
        margin-top: 2vmin;
        margin-bottom: 4vmin;
        align-items: flex-end;
        justify-content: center;
        min-height: 75vmin;
        min-width: 0px;
    }

    .numPadHolderDiv {
        justify-content: center;
        align-items: flex-start;
        margin: 0px;
    }
}

@media print {
    .numPadHolderDiv {
        display: none;
    }
}
