.Toast {
    display: inline-block;
    position: absolute;
    bottom: 5vh;
    background-color: rgba(103, 58, 183, 0.8);
    color: white;
    min-width: 10vw;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.7;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1em;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),
                0 2px 10px 0 rgba(34,36,38,.15);

    transition: opacity 0.2s ease-in;
    opacity: 1;
    visibility: visible;
}

.Toast.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in;
}
