.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

@media (max-aspect-ratio: 1/1) {
    .App {
        flex-direction: column;
    }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.boardHolderDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*height: 100%;*/
    /*min-height: 75vh;*/
    min-height: 0px;
    min-width: 75vh;
    flex: 1;
    padding-right: 4vh;
    padding-left: 2vh;
}

.numPadHolderDiv {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    /*padding-left: 2vh;*/
}

@media (max-aspect-ratio: 1/1) {
    .boardHolderDiv {
        /*padding: 1vw;*/
        padding: 0px;
        padding-top: 2vw;
        padding-bottom: 4vw;
        align-items: flex-end;
        justify-content: center;
        min-height: 75vw;
        min-width: 0px;
    }

    .numPadHolderDiv {
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        /*padding-top: 4vw;*/
    }
}
