.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@media (max-aspect-ratio: 1/1) {
    .App {
        flex-direction: column;
    }
}
