.skuBoard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*height: 50vh;*/
    width: 54vh;
    height: 54vh !important;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*margin: 0px;*/
}

.skuBoardRow {
    flex: 1;
    display: flex;
    flex-direction: row;
    line-height: 6vh;
    justify-content: space-between;
}
