.skuBoard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75vmin;
    height: 75vmin !important;
    cursor: default !important;
    border: 0.3vmin solid #673ab7;
}

.skuBoard:focus {
    outline: none;
}

.skuBoardRow {
    max-width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skuBoard .skuBoardRow:nth-of-type(odd) .skuBox:nth-of-type(odd),
.skuBoard .skuBoardRow:nth-of-type(even) .skuBox:nth-of-type(even){
    background-color: #d9c7ff;
}

.secret blockquote {
    border-left: 0.5em solid white;
    padding-left: 0.5em;
}
