.skuBoard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75vmin;
    height: 75vmin !important;
    cursor: default !important;
}

.skuBoard:focus {
    outline: none;
}

.skuBoardRow {
    max-width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
