.skuCell {
    display: flex;
    flex-direction: column;
    flex: 1;
    outline: 0.2vmin solid #6435c9;
    font-size: 7vmin;
    flex-grow: 1;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;

    transition: background-color 0.2s ease-in;
}

.skuCell.invalid {
    background: repeating-linear-gradient(45deg,
        rgba(229, 57, 37, 0.2),
        rgba(229, 57, 37, 0.2) 1vmin,
        rgba(0, 0, 0, 0) 1vmin,
        rgba(0, 0, 0, 0) 2vmin);
    color: #e53925;
}

.skuCell.sel {
    background-color: rgba(0, 0, 0, 0.15);
}

.skuCell.orig {
    font-weight: 800;
}
