.skuCell {
    display: inline-block;
    flex: 1;
    outline: 1px solid #673ab7;
    font-size: 4vh;
    color: #333;
    font-weight: lighter;
}

.skuCell.sel {
    background-color: rgba(0, 0, 0, 0.15);
}

.skuCell.orig {
    font-weight: 800;
}

.skuCell.invalid {
    background-color: rgba(229, 57, 37, 0.15);
    color: #e53925;
}
