.boardHolderDiv {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 0px;
    min-width: 75vmin;
    flex: 1;
    padding-right: 4vmin;
    padding-left: 2vmin;
}

.numPadHolderDiv {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

@media (max-aspect-ratio: 1/1) {
    .boardHolderDiv {
        padding: 0px;
        padding-top: 2vmin;
        padding-bottom: 4vmin;
        align-items: flex-end;
        justify-content: center;
        min-height: 75vmin;
        min-width: 0px;
    }

    .numPadHolderDiv {
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
    }
}
