.numPad {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.numPadVertical, .numPadHorizontal {
    flex-wrap: wrap;
    max-width: 75vmin;
    max-height: 75vmin;
    border-radius: 0px;
}

.ui.button {
    border-radius: 0px !important;
}

.numPadVertical {
    display: inherit;
}

.numPadHorizontal {
    display: none !important;
}

@media (max-aspect-ratio: 1/1) {
    .numPadVertical {
        display: none !important;
    }

    .numPadHorizontal {
        display: inherit !important;
    }
}
