.numPad {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.numPadRow {
    display: flex;
    flex-direction: row;
}

@media (max-aspect-ratio: 1/1) {
    .numPad {
        flex-direction: row;
    }

    .numPadRow {
        flex-direction: column;
    }
}
