.numButton {
    background-color: #673ab7;
    color: white;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    width: 6vh;
    line-height: 6vh;
    font-size: 4vh;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
